* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 64px;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

/* a {
  color: #267df4;
  text-decoration: underline;
} */

a:hover{
  text-decoration: none;  
}

a:focus {
  outline: none;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

/*****************************************************
*** Buttons ***
*****************************************************/
.btns-container .btn,
 #price_tables .btn,
 #contact .btn{
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  color: #26272d;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
} 

.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-lg {
  padding: 14px 48px;
}

.btns-container .btn-blue {
  background-color: #267df4;
  color: white;
}

#contact .btn-green {
  background-color: #267df4;
  color: white;
}

.btn-dark {
  background-color: #131315;
  color: white;
}

.btn-blue:hover, .btn-blue:focus,
.btn-green:hover, .btn-green:focus,
.btn-dark:hover, .btn-dark:focus {
  color: #ffffff;
} 


/*****************************************************
*** Inputs ***
*****************************************************/
 .send-email input {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;
  padding-right: 148px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.form-group input:focus {
  outline: none;
  color: #26272d;
} 

/*****************************************************
*** Forms ***
*****************************************************/
#contact .form-group {
  position: relative;
  width: 502px;
  max-width: 100%;
  margin: 0 auto;
}

#contact h3{
  font-weight: 400;
}

#ready-to-buy .form-group .btn,
#contact .form-group .btn {
  position: absolute;
  top: 4px;
  right: 4px;
}

/*****************************************************
*** Main Nav ***
*****************************************************/
#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
}

#main-nav #navigation {
  color: #26272d;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 2;
}

#main-nav #navigation:hover {
  color: #267df4 !important;
}

#main-nav ul {
  padding: 0;
}

#main-nav ul li {
  display: inline-block;
  margin-right: 40px;
}

#main-nav ul li a {
  color: #26272d;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #267df4;
}

#main-nav ul li .btn-blue {
  color: #ffffff;
}

#main-nav ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav ul li:last-child {
  margin-right: 0;
}

#main-nav ul.left {
  text-align: left;
  margin-left: 50px;
}

#main-nav ul.left li {
  display: inline-block;
  padding: 9px 0;
}

#main-nav ul.left li:first-child {
  margin-right: 30px;
}

#main-nav ul.right {
  text-align: right;
  padding: 9px 0;
}

#main-nav .logo {
  display: inline-block;
  padding-top: 6px;
}

.logo-string{
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo-string span{
  font-weight: bold;
}

#main-nav dialog{
  position: fixed;
  top: 2%;
  left: 70%;
  width: 280px;
  background: #60BB71;
  min-height: 60px;
  height: 64px;
  opacity: 0.94;
  border: none;
  border-radius: 6px;
  transition: all 4s ease-in;
  z-index: 10;
}

dialog i{
  padding-right: 7px;
}

dialog p{
  font-weight: 400;
  letter-spacing: .5px;
  padding: 0;
  color: #fff;
  font-size: 18px;
}


#main-nav #slide_out_menu {
  position: fixed;
  display: block;
  width: 380px;
  max-width: 650px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #26272d;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

#main-nav #slide_out_menu .menu-close {
  position: absolute;
  color: #ffffff;
  right: 40px;
  top: 52px;
}

#main-nav #slide_out_menu .logo-string{
  margin-top: 8px;
  margin-left: 20px;
  color: #fff;
}

#main-nav #slide_out_menu ul {
  margin-top: 120px;
  margin-left: 20px;
}

#main-nav #slide_out_menu ul li {
  display: block;
  margin: 22px 0;
}

#main-nav #slide_out_menu ul li a {
  color: #ffffff;
}

#main-nav #slide_out_menu ul li a:hover {
  color: #267df4;
}

#main-nav #slide_out_menu ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu.xs-screen {
  overflow-y: auto;
}

#main-nav #slide_out_menu.xs-screen ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu.open {
  left: 0;
}

#main-nav.active {
  background-color: #ffffff;
  padding: 24px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

/*****************************************************
*** Header ***
*****************************************************/
#header {
  padding: 200px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#header p {
  padding-top: 0px;
  font-size: 20px;
  color: #8c8f94;
}

.purchase-form{
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  margin-top: -60px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 40px 40px 40px 40px;
  min-width: 400px;
}

.purchase-form h3{
  margin: 10px 0 40px 0;
  font-weight: 400;
}

.purchase-form .sendBtn{
    margin-top: 20px;
}

.purchase-form label{
  padding-top: 8px;
}

.purchase-form input{
  margin-left: 20px;
}

.form-control:before{
  background: url(..\public\images\lock.png);
}

/*****************************************************
*** Features ***
*****************************************************/
#features .feature {
  padding: 200px 38px;
}

#features .feature .f-icon {
  margin-bottom: 20px;
}

#features .feature .f-icon i {
  font-size: 42px;
  color: #267df4;
}

/*****************************************************
*** How Works Description ***
*****************************************************/
#how-works {
  position: relative;
  padding: 0px 0 60px;
}

#how-works .btns-container {
  margin-top: 62px;
}

#how-works .btns-container a {
  margin-right: 20px;
  margin-bottom: 18px;
}

#how-works .btns-container a:hover{
  transition: 0.4s;
  transform: translateX(14px);
}

#how-works .btns-container a i {
  margin-left: 30px;
  font-size: 14px;
}

#how-works .btns-container a:last-child {
  margin-right: 0;
}

#how-works .trade-image{
  margin-top: 40px;
  width: 130%;
  height: auto;
} 

/*****************************************************
*** Quick Start ***
*****************************************************/
#quick-start{
  padding: 120px 0 180px;
  position: relative;
  overflow: hidden;
}

#quick-start .settings-pic{
  padding-top: 70px;
  padding-right: 40px;
  height: auto;
  width: 130%;
}

#quick-start .partners {
  margin-top: 52px;
}

#quick-start .partners .title{
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#quick-start .partners ul {
  margin: 26px 0 0;
}

#quick-start .partners ul li {
  display: inline-block;
  font-size: 22px;
  margin-right: 30px;
  margin-bottom: 15px;
}

#quick-start .partners ul li a{
  text-transform: uppercase;
}

#quick-start .partners .exchangeLogo{
  height: auto;
}

#quick-start .partners ul li:last-child {
  margin-right: 0;
}

#quick-start .partners .hitbtc{
  color: #004552;
}

#quick-start .partners .hitbtc span{
  color: #3AABD9;
}


#quick-start .partners .binance{
  color: #F7B81E;
}

#quick-start .partners .exmo{
  color: #2D92FF;
}

/*****************************************************
*** Plan ***
*****************************************************/
#plan {
  padding: 112px 0 112px;
  background-color: #f4f4f5;
}

#plan .info {
  font-size: 14px;
  margin-top: 40px;
}

#plan .price-table {
  position: relative;
  width: 340px;
  max-width: 50%;
  float: left;
  padding: 20px 0;
}

#plan .price-table .table-inner {
  background-color: #ebebed;
  padding: 40px 15px 50px;
}

#plan .price-table .table-inner h3 {
  margin: 0 auto 28px;
}

#plan .price-table .table-inner .price {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  padding: 9px 18px;
  border: 1px solid rgba(38, 39, 45, 0.2);
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

#plan .price-table .table-inner .feature-list li {
  font-size: 16px;
  line-height: 24px;
  color: #26272d;
  margin-bottom: 12px;
}

#plan .price-table .table-inner .feature-list li i {
  color: #6fc754;
}

#plan .price-table .table-inner .feature-list li:last-child {
  margin-bottom: 34px;
}

#plan .price-table .table-inner .btn {
  width: 210px;
  max-width: 100%;
}

#plan .price-table .table-inner .btn-blue {
  background-color: transparent;
  border: 1px solid #267df4;
  color: #267df4;
}

#plan .price-table.highlighted {
  z-index: 2;
  padding: 0;
  box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
  -moz-box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
  -webkit-box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
}

#plan .price-table.highlighted .table-inner {
  background-color: #ffffff;
  padding: 60px 15px 70px;
}

#plan .price-table.highlighted .btn-blue {
  background-color: #267df4;
  color: #ffffff;
}

/*****************************************************
*** contact ***
*****************************************************/
#contact {
  padding: 90px 0 50px;
}

#contact .btn {
  padding-left: 34px;
  padding-right: 34px;
}

/*****************************************************
*** Footer ***
*****************************************************/
#footer {
  color: #8c8f94;
  font-size: 16px;
  padding-bottom: 80px;
}

#footer .footer-container {
  padding-top: 160px;
  padding-bottom:   20px;
}

#footer .copyright-container {
  padding-top: 20px;
  padding-bottom: 25px;
}

#footer p {
  font-size: 14px;
  line-height: 24px;
}

#footer ul li .title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  font-size: 12px;
}

#footer ul li a {
  color: #8c8f94;
  text-decoration: none;
  line-height: 36px;
}

#footer ul li a:hover {
  color: #26272d;
}


/*****************************************************
ADAPTIVE
*****************************************************/
@media only screen and (max-width: 1310px){
   #how-works .trade-image{
      width: 120%;
   }

   #quick-start .settings-pic{
      width: 120%;
   }
}

@media only screen and (max-width: 1230px){
  #header{
    margin-left: 40px;
  }

  .purchase-form{
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1200px){
  #header{
      margin-left: 0;
  }

  #header h1{
    font-size: 44px;
  }
    
  .purchase-form{
    margin-top: -40px;
    margin-left: 10%;
    margin-right: -20%;
  } 

  #how-works .trade-image{
    padding-top: 40px;
    width: 86%;
    margin-left: 7%;
  }

  #quick-start .settings-pic{
    width: 100%;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 991px) {
  /*** Main Nav ***/
  #main-nav .col-md-4:first-child,
  #main-nav .col-md-4:last-child {
    display: none;
  }

  #main-nav .col-md-4
  
  #main-nav #slide_out_menu {
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    left: -300px;
  }

  #header {
    padding-top: 230px;
  }
  
  #header .purchase-form{
    margin: 220px auto;
    width: 70%;  
  }

  /*** Features ***/
  #features {
    padding: 0 0;
    margin-bottom: 200px;
  }
  #features .feature-item {
    margin-bottom: 80px;
  }
  #features .feature-item:last-child {
    margin-bottom: 0;
  }
  #features .feature {
    padding: 0px 0px;
  }
  #features .feature .f-icon {
    margin-bottom: 48px;
  }
  #features .feature .f-icon i {
    font-size: 42px;
    color: #267df4;
  }
 
  #quick-start .settings-pic{
    margin-left: -5%;
    padding-right: 0;
    width: 110%;
  }

  #how-works .trade-image{
    width: 100%;
    margin-left: -0.1%;
  }

  /*** Plan ***/
  #plan {
    padding: 120px 0 150px;
  }

  #plan .info{
    padding-bottom: 40px;
  }

  #contact{
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #footer{
    padding-top: 0;
    padding-bottom: 10px;
  }

  #footer .footer-links {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blockquote{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 990px){
  #how-works .trade-image{
    margin-top: 60px;
  }
}

@media only screen and (max-width: 800px){
    #how-works .trade-image{
      margin-top: 10px;
      width: 90%;
      margin-left: 5%;
    } 

    #quick-start .settings-pic{
      width: 100%;
      margin-left: 0;
    }         
}

@media only screen and (max-width: 770px) {
    #features .feature{
      padding-left: 20px;
      padding-right: 20px;
    }

    #how-works .col-sm-12{
      padding-left: 20px;
      padding-right: 20px;
    }

    .footer-links ul li{
      padding-left: 0;
    }
}

@media only screen and (max-width: 768px){
  .purchase-form label{
      padding-right: 0;
  }
}

@media only screen and (max-width: 750px){
  #header .col-sm-12:first-child{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 680px){
  #how-works .trade-image{
    width: 100%;
    margin-left: 0;
  }

  #quick-start .settings-pic{
    width: 110%;
    margin-left: -5%;
  }
}

@media only screen and (max-width: 575px) {
 
  /*** Plan ***/
  #plan {
    padding: 120px 0 100px;
  }
  #plan .price-table {
    width: 340px;
    max-width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    float: none;
  }
  /*** Footer ***/
  #footer .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #footer .footer-links {
    width: 100%;
  }
}

@media only screen and (max-width: 573px){
  #header .col-sm-12:first-child{
    padding-top: 0;
  }

  #header h1{
    font-size: 46px;
  }

  #how-works h2, #quick-start h2{
    font-size: 44px;
    line-height: normal;
  }
}

@media only screen and (max-width: 535px){
  #header h1{
    margin-top: -30px;
    font-size: 38px;
    line-height: normal;
  }

  #features .feature .f-icon {
    margin-bottom: 20px;
  }

  #quick-start .partners ul li a{
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px){
  .purchase-form{
    padding: 20px 20px 20px 20px;
  }

  #how-works{
    padding-left: 10px;
    padding-right: 10px;
  }

  #how-works h2, #quick-start h2, #plan h2{
    font-size: 38px;
    line-height: normal;
  }

  #how-works p, #quick-start p, #plan p{
    font-size: 18px;
  }

  #quick-start img{
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 455px){
  #header h1{
    font-size: 32px;
  }

  .purchase-form label{
    margin-left: 0;
  }
}

@media only screen and (max-width: 428px){
  #quick-start .partners ul li a{
    font-size: 18px;
  }

  #quick-start .exchangeLogo{
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 390px){
  #quick-start .partners ul li a{
    font-size: 16px;
  }

  #quick-start .exchangeLogo{
    width: 20px;
    height: 20px;
  }

  #contact h3{
    font-size: 24px;
    line-height: normal;
  }
}

@media only screen and (max-width: 375px){
  #header h1{
    margin-top: -40px;
  }

  #header p{
    font-size: 18px;
  }

  #how-works h2, #quick-start h2, #plan h2{
    font-size: 30px;
  }

  #how-works p, #quick-start p, #plan p{
    font-size: 16px;
  }

  #footer .footer-links{
    padding-bottom: 0;
    margin-bottom: 0;
  }
}





